#home-div-outer {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#home-div-outer #home-heading {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  font-family: "Vujahday Script", cursive;
}

/*~ background image */
#background-img{
    position: absolute;
    bottom: 30%;
    z-index: -1;
}

/*~ selecting child items of heading */
#home-heading span:is(:nth-child(1), :nth-child(3)) {
  position: relative;
  font-size: 18rem;
  color: #fade26;
  font-weight: 900;
}
#home-heading span:is(:nth-child(2), :nth-child(4)) {
  position: relative;
  color: #fade26;
  font-size: 10rem;
  font-weight: 900;
}
#home-heading p {
  font-size: 1.2rem;
  position: relative;
  width: 70%;
  bottom: 8rem;
  color: #fade26;
  font-family: "Karla", sans-serif;
}

/*~ ::before statements for water drops */
#home-heading span:nth-child(1):before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  bottom: 31%;
  left: 12%;
  border-radius: 50%;
  background-color: #fade26;
  transform: rotate(40deg);
  animation: waterDrop 5s ease-in 4s infinite;
}
#home-heading span:nth-child(3)::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  background-color: #fade26;
  border-radius: 50%;
  bottom: 31%;
  transform: rotate(40deg);
  left: 10%;
  animation: waterDrop 5s ease-in 2s infinite;
}
#home-heading span:nth-child(4)::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  bottom: 38%;
  right: 40%;
  border-radius: 50%;
  background-color: #fade26;
  transform: rotate(40deg);
  animation: waterDrop 5s ease-in infinite;
}

/*~ heading animation */
#top-heading-div {
  transition: 0.2s ease-in;
  animation: heading 3s ease-in-out 2s infinite alternate;
}
#top-heading-div:hover {
  scale: 1.04;
}

/*~ next page button  */
#started-div-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.7rem 2rem;
  border-radius: 3rem;
  font-family: "Karla", sans-serif;
  color: #fff;
  background-color: #7c0ca1a6;
  box-shadow: 2px 2px 15px 2px #5d0879f1;
  transition: all 0.3s;
}

#started-div-btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px #fff;
  transform: translateY(-10%);
}

#started-div-btn span {
    font-size: 2rem;
    transition: 0.2s;
}
#started-div-btn:hover span {
    transform: scale(1.2);
}

/*~ keyframes */
@keyframes heading {
  0% {
    translate: 0 0%;
  }
  100% {
    translate: 0 -8%;
  }
}
@keyframes waterDrop {
  0% {
    translate: 0 0;
    box-shadow: -2px -2px 4px #fade26;
  }
  35% {
    translate: 0 20px;
    opacity: 1;
  }
  50% {
    translate: 0 100vh;
  }
  100% {
    translate: 0 100vh;
  }
}
@media only screen and (max-width: 1100px) {
  #home-heading span:is(:nth-child(1), :nth-child(3)) {
    font-size: 14rem;
  }
  #home-heading span:is(:nth-child(2), :nth-child(4)) {
    font-size: 6rem;
  }
  #home-heading p {
    font-size: 1.2rem;
    bottom: 6rem;
  }
  #started-div-btn {
    gap: 1.2rem;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 1.4rem 2rem;
  }
}
@media only screen and (max-width: 800px) {
  #home-heading span:is(:nth-child(1), :nth-child(3)) {
    font-size: 13rem;
  }
  #home-heading p {
    font-size: 1rem;
    margin: 0;
    width: 90%;
    color: #030303;
    z-index: 10;
    font-weight: 900;
    bottom: 3rem;
  }
  #home-heading span:is(:nth-child(1),:nth-child(3),:nth-child(4)):before {
    display: none;
    animation: none !important;
    
  }
  #home-div-outer {
    justify-content: flex-start;
    gap: 2rem;
  }
  #background-img{
    position: absolute;
    bottom: 18%;
    z-index: -1;
}
}
@media only screen and (max-width: 450px) {
  #home-heading span:is(:nth-child(1), :nth-child(3)) {
    font-size: 8rem;
  }
  #home-heading p {
    font-size: 1rem;
    text-shadow: 2px 2px 20px white;
  }
  #background-img{
    bottom: 30%;
}
}
@media only screen and (max-width: 340px) {
  #home-heading span:is(:nth-child(1), :nth-child(3)) {
    font-size: 5rem;
  }
  #home-div-outer{
    gap: 0;
  }
  #home-heading p {
    font-size: .7rem;
    text-shadow: 2px 2px 20px white;
    color: #968307;
  }
  #started-div-btn{
      width: 80%;
      font-size: 1.4rem !important;
      gap: 0;
  }
  #background-img{
    bottom: 10%;
}
}
