@import url("https://fonts.googleapis.com/css2?family=Karla&family=Lily+Script+One&family=Pangolin&family=Poppins&family=Vujahday+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: #46344e;
}
#main-div {
  height: 100vh;
  width: 100%;
  background-image: url(./page1-background.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}
@media only screen and (max-width: 500px) {
  #top-navbar{
    /* display: none; */
  }
}